
body {
    background-color: blueviolet;
}

#lga {
    height: 233px;
    margin-top: 89px;
    display: block;
    box-sizing: content;
    float: none;
    position: static;
    z-index: auto;
}


@media only screen and (max-height: 769px) {
    #lga {
        margin-top: 47px;
    }
}